body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #f9fafc;
}

a {
    text-decoration: none;
    color: inherit;
}

.block-link {
    display: block;
}

.header-links {
    list-style: none;
    margin-block-start: 0;
    color: #69696a;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header-links li {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

h1 {
    font-size: 1em;
    margin-bottom: 8px;
}

h2 {
    margin-top: 25px;
}

.button {
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 8px;
    margin-top: 6px;
}

p {
    color: #69696a;
    border-left: 4px solid #69696a;
    padding-left: 12px;
}

main {
    margin-bottom: 80px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(247, 193, 162, 0.7);
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    box-sizing: border-box;
    padding-right: 16px;
}

h3 {
    margin-left: 12px;
    font-size: 1em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    list-style: none;
}

.footer-links li {
    display: flex;
    flex-direction: row;
    color: #69696a;
    padding-right: 6px;
    padding-left: 6px;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .header-links {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .header-links li {
        padding-left: 10px;
        padding-right: 10px;
    }

    main {
        margin-top: 40px;
        display: flex;
    }

    .text {
        flex: 1;
    }

    .circle-container {
        flex: 1;
    }

    .circle {
        border-radius: 50%;
        position: absolute;
    }
    
    #large {
        background-color: rgba(247, 136, 167, 0.6);
        height: 250px;
        width: 250px;
        right: 100px;
        animation: fade;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: both;
    }
    
    #medium {
        background-color: rgba(247, 193, 162, 0.7);
        height: 175px;
        width: 175px;
        right: 40px;
        top: 280px;
        animation: fade;
        animation-duration: 3s;
        animation-delay: 1.5s;
        animation-fill-mode: both;
    }
    
    #small {
        background-color: rgba(207, 130, 213, 0.6);
        height: 125px;
        width: 125px;
        right: 20px;
        top: 200px;
        animation: fade;
        animation-duration: 2.5s;
        animation-delay: 2s;
        animation-fill-mode: both;
    }

    @keyframes fade {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}
