body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #f9fafc;
    margin: 0;
}

header {
    margin: 12px;
}

main {
    margin: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}


nav ul {
    list-style: none;
    color: #69696a;
    margin-block-start: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

nav ul li {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

h1 {
    font-size: 1em;
    margin-block-end: 8px;
}

.button {
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 8px;
    margin-top: 6px;
}

button {
    width:100%;
}

p {
    border-left: 4px solid #69696a;
    padding-left: 12px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(247, 193, 162, 0.7);
    width: 100%;
    position: fixed;
    bottom: 0;
}

h3 {
    margin-left: 12px;
    font-size: 1em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    list-style: none;
}

.footer-links li {
    display: flex;
    flex-direction: row;
    color: #69696a;
    padding-right: 8px;
}
